<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gmod Contraption Database</ion-title>

    <ion-buttons slot="end">
      <ion-button color="secondary" fill="solid" (click)="openContraptionSelectModal()">
        Upload Contraption

        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Latest creations -->
  <ion-card>
    <ion-card-header>
      <ion-title>
        <h1>Latest Creations</h1>
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of createSkeletonArray(5)" no-padding style="text-align: center">
            <app-contraption-card></app-contraption-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- Community -->
  <ion-card>
    <ion-card-header>
      <ion-title>
        <h1>Community</h1>
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of createSkeletonArray(5)" no-padding style="text-align: center">
            <app-contraption-card></app-contraption-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
