<ngx-skeleton-loader
  [theme]="{ height: '250px', width: '100%' }"
></ngx-skeleton-loader>

<ion-grid>
  <ion-row>
    <ion-col size="3">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{ width: '80px', height: '80px' }"
      >
      </ngx-skeleton-loader>
    </ion-col>
    <ion-col style="text-align: left;">
      <ngx-skeleton-loader [theme]="{ height: '20px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader
        [theme]="{ width: '70%', height: '20px' }"
      ></ngx-skeleton-loader>
    </ion-col>
  </ion-row>
</ion-grid>
